.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner {
  height: 150px;
  width: 100%;
}
.banner-title {
  font-size: 30pt;
  padding: 20px 0;
  font-weight: 500;
}
.my-deep-orange-fade {
  height: 150px;
  background-color: #f2a06d;
}
.background-grad {
  /* background: linear-gradient(to bottom right, black, #9e9e9e); */
  background: radial-gradient(
    farthest-corner at 90% 98%,
    #ff7043,
    #727272,
    #333 40%,
    #f2a06d 60%
  );
}
nav ul a {
  display: inline-block; /* works better in IE */
}
.btn-flat {
  color: #039be5;
}
